<mat-card>    
    <mat-card-title>    
       Perfil   
    </mat-card-title>    
    
    <mat-card-content>    
        <form class="flexColumn">

            <mat-form-field >
                <input matInput placeholder="Nome Completo" [(ngModel)]="user.full_name" name="name">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" >
            </mat-form-field>
                        
            <mat-form-field>
                <input matInput placeholder="Email" type="email" [(ngModel)]="user.email" name="email" >
            </mat-form-field>

            <mat-form-field>
                <input  matInput placeholder="Senha" [type]="hide ? 'password' : 'text'"  [(ngModel)]="user.password" name="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>   

        </form>    
        
        <button mat-raised-button  color="primary" (click)="save()">
            <i class="material-icons">
                save
            </i>
            Salvar
        </button>

    
    </mat-card-content>    
</mat-card>  