<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" >
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/perfil">
                <i class="material-icons">
                    person
                </i>
                Perfil
            </a>
            <a mat-list-item routerLink="/patrimonios">
                <i class="material-icons">
                    storefront
                </i>
                Patrimonios
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
