.container{
    height: 100%;
}

.sidenav {
    background-color: #3f51b5;
    color: #fff;
}

.loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
}

.logo-nav img{
    max-height: 80px;
}

::ng-deep .mat-expansion-panel-header {
    padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
    margin-right: 10px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important
}

::ng-deep .mat-expansion-panel-header {
    height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
    padding-left: 25px !important;
}

::ng-deep .mat-nav-list .is-active {
    width : calc(100% - 8px)!important;
}

::ng-deep .mat-list-base {
    padding-top: 0 !important;
}

mat-nav-list{
    background-color: #3f51b5;
}

mat-nav-list:hover {
    background-color: #3f51b5;
}

mat-expansion-panel{
    background-color: #3f51b5;
}

mat-expansion-panel:hover {
    background-color: #3f51b5;
}

mat-expansion-panel-header{
    background-color: #3f51b5;
}