.container{
    height: 100%;
}

.sidenav{
    background-color: #3f51b5;
    width: 200px;
}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }

.submenu.expanded {
    transform: scaleY(1);
}

.loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
  }