<mat-card>
    <div id="container" class="flexColumn flexAlignCenter">

        <mat-card-title>
            Cadastre-se
        </mat-card-title>
        
        <mat-card-content>    

            <form  class="flexColumn">

                <mat-form-field class="width35 marginRight15px">
                    <input [(ngModel)]="user.full_name" matInput placeholder="Nome Completo" name="full_name">
                </mat-form-field>
                
                <mat-form-field class="width35 marginRight15px">
                    <input [(ngModel)]="user.username" matInput placeholder="Username" name="username">
                </mat-form-field>

                <mat-form-field class="width35 marginRight15px">
                    <input [(ngModel)]="user.email" matInput placeholder="Email" name="email">
                </mat-form-field>
            
                <mat-form-field>
                    <input  matInput placeholder="Senha" [type]="hide ? 'password' : 'text'"  [(ngModel)]="user.password" name="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field> 
        
                <button mat-raised-button  color="primary" (click)="signin()">
                    <i class="material-icons">
                        login
                    </i>
                    Cadastrar
                </button>
            </form>
            

        </mat-card-content>
    </div>

</mat-card>
