<mat-card>
    <mat-card-title>Patrimônios</mat-card-title>
    <form>
        <mat-form-field ppearance="fill">
            <input matInput placeholder="Nome"
                name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
                name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button  color="primary">
        Salvar
    </button>
    
    <button mat-raised-button >
        Cancelar
    </button>
</mat-card>